body 
{
    background-color: #fff;
    overflow: hidden;   
    margin: 0;
}


h3 {
  background: url('../images/logo.png') no-repeat;
  background-size: 40px;
  padding-left: 50px;
  color: Teal;
  /*border:1px dashed #000;*/
}

canvas
{
    overflow: hidden;   
    position: absolute;
}

.puzzle-image
{
    overflow: hidden;   
    position: absolute;
    left: 50%;
    top: 50%;
}


.zoomIn,
.zoomOut,
.help,
.restart,
.settings,
.user
{
    z-index: 100;
    position: absolute;
    opacity: 1.0 ;
    cursor: pointer;
}

.charms
{
    overflow: hidden;   
    position: absolute;
    background: #f0f3f9;
    top: 10%;
    /*opacity: 0.75;*/
    right: 0%;
    height: 625px;
    width: 96px;  
    /*display: none;  */
}
.help:hover,
.user.hover,
.zoomIn:hover,
.zoomOut:hover,
.restart.hover,
.settings.hover
{
    opacity: 1.0;
}

.user
{
    right: 0%;
    top: 50%;
    margin: -275px 25px 0 0;
    background-size:100% 100%;
}

.help
{
    right: 0%;
    top: 50%;
    margin: -175px 25px 0 0;
}

.zoomIn
{
    right: 0%;
    top: 50%;
    margin: -75px 25px 0 0;
}


.zoomOut
{
    right: 0%;
    top: 50%;
    margin: 25px 25px 0 0;
}

.restart
{
    right: 0%;
    top: 50%;
    margin: 125px 25px 0 0;
}

.settings
{
    right: 0%;
    top: 50%;
    margin: 225px 25px 0 0;
}

.info{
	position: absolute;
	left: 20px;
	bottom: 20px;
    /*border:1px dashed #000;*/
    display: inline;
    background-color:#f0f3f9;
}


.mdl-switch{
    display:inline;
    margin-left: 10px;
    margin-right: 10px;   
}

